//container style
.container--mainform{
	@include flex-mixin(center,center,column);
}
.mainform-content{
	width: 90%;
}
//form style
.main-form{
	border: 1px solid #8f8f8f;
	padding: 20px;
	box-sizing: border-box;
	@include flex-mixin(space-betweean,center,row);

}
.main-form__block{
	display: block;
	position: relative;
	width: 45%;
	z-index: 1;
	background: transparent;
	border: none;
	.error {
		border-bottom-color: red;
		animation: error-animate .5s;
	}
	&:before{
		background: none;
		border-color: #8f8f8f transparent transparent transparent;
		border-style: solid;
		border-width: 5px 3px 0;
		content: "";
		display: block;
		height: 0;
		pointer-events: none;
		position: absolute;
		right: 10%;
		bottom: 8px;
		width: 0;
		z-index: 1;
	}
}
@keyframes error-animate {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
.search-main-form{
	width: 40%;
	height: 30px;
	text-transform: uppercase;
	border: 1px solid $blue;
	box-sizing: border-box;
	background: transparent;
	color: $blue;
	position: relative;
	line-height: 30px;
	transition: .3s ease all;
	&:before{
		content: "";
		display: block;
		position: absolute;
		transition: .3s ease all;
		top: 0;
		bottom: 0;
		width: 0%;
		left: 0;
		background-color: $blue;
		z-index: -1;
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		transition: .3s ease all;
		top: 0;
		bottom: 0;
		width: 0;
		right: 0;
		background-color: $blue;
		z-index: -1;
	}
}
.search-main-form:hover{
	color: #fff;
	z-index: 1;
	cursor: pointer;
}
.search-main-form:hover:before{
	width: 50%;
	transition: .3s ease all;
}
.search-main-form:hover:after{
	width: 50%;
	transition: .3s ease all;
}

.main-form__block > select + label {
	position: absolute;
	font-family: $lsb;
	font-size: 9px;
	text-transform: uppercase;
	color: $blue;
	left: 0px;
	top: 70%;
	transform: translateY(-50%);
	pointer-events: none;
	transition: .15s ease-out all;
}
.main-form__block__select:focus + label,
select.focusFancy + label{
	top: 10px;
	font-family: $lsb;
	font-size: 9px;
	color: $blue;
}

select {
	appearance: none;
	background: transparent;
	border: 0 none;
	border-radius: 0 !important;
	box-shadow: none;
	color: #8f8f8f;
	cursor: pointer;
	font-family: $lsb;
	line-height: 1.2;
	margin: 0 auto;
	outline: none;
	text-overflow: ellipsis;
	width: 90%;
	user-select: none;
	border-bottom: 1px solid #8f8f8f;
	font-size: 9px;
	padding: 17px 20px 3px 0;

}

// image style
.mainform-content{
	&__image-box{
		width: 100%;
		&__img{
			width: 100%;
		}
	}
}