.section-second {
	padding-top: 65px;
	padding-bottom: 130px;
	@include media-mexin($tablet-media){
		padding-bottom: 65px;
	}
}
// text style
.container-second-description{
	text-align: center;
	font-family: $pdr;
	font-size: 26px;
	line-height: 38px;
	color: #333;
	@include media-mexin ($tablet-media) {
		line-height: 1.4;
		font-size: 18px;
	}
}
.container-second-description-name{
	text-align: center;
	font-family: $lsb;
	font-size: 9px;
	text-transform: uppercase;
	color: #333;
	padding-top: 16px;
}
.vertical-line{
	position: relative;
	height: 200px;
	@include flex-mixin(center, center, row);
	@include media-mexin ($tablet-media) {
		height: 120px;
	}
	&__body{
		height: 100px;
		width: 1px;
		background-color: $blue;
		@include media-mexin ($tablet-media) {
			height: 60px;
		}
	}
}
.container--second-next{
	display: grid;
	grid-template-columns: 40% 60%;
	@include media-mexin($tablet-media){
		@include flex-mixin(center, center, column-reverse);
	}
}
//image style
.video-image-block{
	position: relative;
	& img{
		@include media-mexin($tablet-media){
			display: none;
		}
	}
	&__text{
		color: #8f8f8f;
		font-size: 14px;
		line-height: 1.7;
		font-family: $pl;
		margin-top: 40px;
		width: 380px;
		margin-left: 65px;
		margin-bottom: 40px;
		@include media-mexin($tablet-media){
			width: 100%;
			margin: 15px 0;
		}
	}
	&__link{
		font-family: $lsb;
		text-transform: uppercase;
		font-size: 9px;
		color: #333;
		margin-bottom: 10px;
		position: relative;
		margin-left: 65px;
		letter-spacing: 2px;
		@include media-mexin($tablet-media){
			margin-left: 0;
		}
		&:hover{
			color: $blue;
			cursor: pointer;
		}
		&:hover:before{
			transition: .3s ease all;
			width: 0;
		}
		&:before{
			content: "";
			position: absolute;
			display: block;
			height: 1px;
			width: 100%;
			background-color: $blue;
			bottom: -3px;
			left: 0px;
			transition: .3s ease all;

		}
	}
}
//video style
.video-block {
	margin-top: 80px;
	position: relative;
	z-index: 1;
	@include media-mexin($tablet-media){
		margin-top: 20px;
	}
}

.video-wrapper{
	width: 99%;
	position: relative;
}
.video-wrapper-img{
	width: 100%;
}
.video-wrapper-play{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}