
mixin contact ()
	section.section-contact
		div.contact
			div.contact__map
				#googleMap.google-map(style='width:100%;height:400px;')
			div.contact__address
				h5.contact__address__title Our Camp
				p.contact__address__description CA 91932, USA
					br
					|Imperial Beach
					br
					|560 Silver Strand Blvd

				a.column-link.column-link--contact(href='#') Get in Touch
