mixin first()
	section.section-first
		div.container.container--first.owl-carousel
			div.carousel-container
				div.carousel-container__description
					div.title-first-section
						div.title-first-section__first YOUR
						h1.title-first-section__second Beautiful Escape
						p.text-first-section One of the greatest things about the sport of surfing is that you need only three things: your body,
							|a surfboard, and a wave.
				div.carousel-container__image-box
					img.carousel-container__image-box__img(src='img/main-page/first/first-section-item1.jpg')

			div.carousel-container
				div.carousel-container__description
					div.title-first-section
						div.title-first-section__first YOUR
						h1.title-first-section__second Beautiful Escape
						p.text-first-section One of the greatest things about the sport of surfing is that you need only three things: your body,
							| a surfboard, and a wave.
				div.carousel-container__image-box
					img.carousel-container__image-box__img(src='img/main-page/first/first-section-item1.jpg')
