mixin five()
	section.section-five
		div.container.continer--five
			div.traning-content
				div.traning-content__description
					h4.column-title Surf Training
						span.column-title__shadow-text 01
					p.column-description By better understanding the various aspects of surfing, By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
					a.column-link(href='#') read more
				div.traning-content__image
					img(src='img/main-page/teach/teach.jpg')
