mixin four()
	section.section-four
		.owl-carousel.owl-theme
			.item.item--first
				.container
					div.item-image.item-image--left
						img(src='img/carousel-header/h1.1.jpg')
					div.item-image.item-image--right
						img(src='img/carousel-header/h1.2.jpg')
					h1 Slide 1
					p
						| Cras a elementum dolor. Praesent aliquam sapien ac eros semper ullamcorper. Sed imperdiet enim at sodales suscipit. Aenean eget faucibus ipsum.
					p
						a.btn(href='#', data-animation-in='fadeInLeft', data-animation-out='animate-out fadeOutRight') Button 1
			.item.item--second
				.container
					div.item-image.item-image--left
						img(src='img/carousel-header/h2.1.jpg')
					div.item-image.item-image--right
						img(src='img/carousel-header/h2.2.jpg')
					h1 Slide 2
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id dolor pulvinar, mollis orci vitae, molestie elit. Maecenas scelerisque ipsum nibh, id imperdiet nulla lobortis nec.
					p
						a.btn(href='#', data-animation-in='bounceInLeft', data-animation-out='animate-out bounceOutRight') Button 2

			.item.item--third
				.container
					div.item-image.item-image--left
						img(src='img/carousel-header/h2.1.jpg')
					div.item-image.item-image--right
						img(src='img/carousel-header/h2.1.jpg')
					h1(data-animation-in='slideInDown', data-animation-out='animate-out slideOutUp') Slide 3
					p(data-animation-in='slideInRight', data-animation-out='animate-out fadeOut')
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id dolor pulvinar, mollis orci vitae, molestie elit. Maecenas scelerisque ipsum nibh, id imperdiet nulla lobortis nec.
					p
						a.btn(href='#', data-animation-in='slideInUp', data-animation-out='animate-out slideOutDown') Button 3
