mixin four()
	section.section-four
		div.container.container--tour
			p.sub-title-section Take a Look at Our
			h2.title-section Most popular tour
			ul.cards
				li.cards__item
					.card
						.card__image.card__image--fence
							img.card__image__img(src='img/main-page/tours/tour1.jpg')
							.strs-box
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
							button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Some title
							p.card__text
								| This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third
				li.cards__item
					.card
						.card__image.card__image--river
							img.card__image__img(src='img/main-page/tours/tour2.jpg')
						.strs-box
							img.strs-box__img(src='img/main-page/star-yellow.png')
							img.strs-box__img(src='img/main-page/star-yellow.png')
							img.strs-box__img(src='img/main-page/star-yellow.png')
							img.strs-box__img(src='img/main-page/star-yellow.png')
							img.strs-box__img(src='img/main-page/star-yellow.png')
						button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Some title
							p.card__text
								| This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a

				li.cards__item
					.card
						.card__image.card__image--record
							img.card__image__img(src='img/main-page/tours/tour3.jpg')
							.strs-box
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
							button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Some title
							p.card__text
								| This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.

				li.cards__item
					.card
						.card__image.card__image--flowers
							img.card__image__img(src='img/main-page/tours/tour4.jpg')
							.strs-box
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
							button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Some title
							p.card__text
								| This defines the default size of an element before the remaining space is distributed. It can be a length (e.g. 20%, 5rem, 
				li.cards__item
					.card
						.card__image.card__image--fence
							img.card__image__img(src='img/main-page/tours/tour5.jpg')
							.strs-box
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
								img.strs-box__img(src='img/main-page/star-yellow.png')
							button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Some title
							p.card__text
								| This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third
				li.cards__item
					.card
						.card__image.card__image--river
							img.card__image__img(src='img/main-page/tours/tour6.jpg')
						.strs-box
							img.strs-box__img(src='img/main-page/star-yellow.png')
							img.strs-box__img(src='img/main-page/star-yellow.png')
							img.strs-box__img(src='img/main-page/star-yellow.png')
							img.strs-box__img(src='img/main-page/star-yellow.png')
							img.strs-box__img(src='img/main-page/star-yellow.png')
						button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Some title
							p.card__text
								| This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a

