mixin four()
	section.section-four
		div.container.container--tour
			ul.cards
				li.cards__item
					.card
						.card__image.card__image--fence
							img.card__image__img(src='')
							.strs-box
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
							button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Flex


							p.card__text
								| This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third
				li.cards__item
					.card
						.card__image.card__image--river
							img.card__image__img(src='https://australiansurftours.com.au/wp-content/uploads/2017/11/istock-surfer_.jpg')
						.strs-box
							img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
							img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
							img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
							img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
							img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
						button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Flex Grow
							p.card__text
							| This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a
							|proportion. It dictates what amount of the available space inside the flex container the item should take up.

				li.cards__item
					.card
						.card__image.card__image--record
							img.card__image__img(src='')
							.strs-box
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
							button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Flex Shrink
							p.card__text
								| This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.

				li.cards__item
					.card
						.card__image.card__image--flowers
							img.card__image__img(src='http://www.eatplaylovetravel.com.au/wp-content/uploads/2015/03/woolamai-beach.jpg')
							.strs-box
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
								img.strs-box__img(src='http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png')
							button.btn.btn--block.card__btn MORE DETAILS
						.card__content
							.card__title Flex Basis
							p.card__text
								| This defines the default size of an element before the remaining space is distributed. It can be a length (e.g. 20%, 5rem, 

