mixin second()
	section.section-second
		div.container.container--second
			p.container-second-description Surfing is the most blissful experience you can have
				br
				|on this planet, a taste of heaven.
			p.container-second-description-name John McCarthy
			div.vertical-line
				div.vertical-line__body
		div.container.container--second-next
			div.video-image-block
				img.video-image-block__img(src='img/main-page/second/section-third-img1.jpg')
				div.video-image-block__text By better understanding the various aspects of surfing,
					br
					|of surfing, you will improve faster and have
					br
					|more fun in the water.
				a.video-image-block__link Read More
			div.video-block
				#5ZwRbIdB8Fo.youtube.video-wrapper
					img.video-wrapper-play(src='img/main-page/second/play.png')
					img.video-wrapper-img(src='img/main-page/second/section-third-img2.jpg')

