mixin seventh()
	section.section-seventh
		div.container.container--seventh
			div.vertical-line
				div.vertical-line__body
			h2.title-section CONTACT US
			p.container-second-description Surfing is the most blissful experience you can have
				br
				| on this planet, a taste of heaven.

		div.container
			form.form-contact
				div.form-contact__block
					input.form-contact__block__input#email(name='email' type='email' placeholder='YOUR E-MAIL')
					//label(for='email') YOUR E-MAIL
				a.form-contact__button(type='submit' href='#')
					img(src='img/main-page/arrow-right.png')
