mixin six()
	section.section-six
		div.container.container--six
			div.point-content
				div.point-content__image
					img(src='img/main-page/join/join.jpg')
				div.point-content__description
					h4.column-title Point Break
						span.column-title__shadow-text 02
					p.column-description By better understanding the various aspects of surfing, By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
					a.column-link(href='#') read more
