mixin third()
	section.section-third
		div.container.container--third-title
			p.sub-title-section Take a Look at Our
			h2.title-section Most popular tour
		div.container.container--third-body
			div.container-box-tour.container-box-tour--vertical

				div.tour-item
					img.tour-item__image(src='img/main-page/tours/tour1.jpg')
				div.tour-item
					img.tour-item__image(src='img/main-page/tours/tour2.jpg')
				//div.container-box-tour__one-item
				div.tour-item
					img.tour-item__image(src='img/main-page/tours/tour5.jpg')

			div.container-box-tour.container-box-tour--horizontal
					div.tour-item
						img.tour-item__image(src='img/main-page/tours/tour8.jpeg')
					div.tour-item
						img.tour-item__image(src='img/main-page/tours/tour4.jpg')
					div.tour-item
						img.tour-item__image(src='img/main-page/tours/tour6.jpg')
