mixin gallery-section ()
	section.section-gallery
		div.container.container--gallery
			h1#about-title.column-header__title GALLERY
			.article-loop
				h2 SOME TITLE  1
				div.article-loop__image-container

					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour6.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour5.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour4.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour3.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour2.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour1.jpg')
			.article-loop
				h2 SOME TITLE  2
				div.article-loop__image-container

					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour6.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour5.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour4.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour3.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour2.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour1.jpg')
			.article-loop
				h2 SOME TITLE  3
				div.article-loop__image-container

					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour2.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour6.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour5.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour1.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour2.jpg')
					div.article-loop__image-block
						img.article-loop__image-block__item.image(src='img/main-page/tours/tour3.jpg')
				h2 SOME TITLE  4
				p
					| Lorem ipsum set dolor amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quas incidunt soluta.
			.article-loop
				h2 SOME TITLE  5
				p
					| Lorem ipsum set dolor amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, ad earum minus illo recusandae vitae fuga laboriosam facilis omnis autem.
			.article-loop
				h2 SOME TITLE  6
				p Lorem ipsum set dolor amet.
			.article-loop
				h2 SOME TITLE  7
				p Lorem ipsum set dolor amet. Lorem ipsum.
			.article-loop
				h2 SOME TITLE  8
				p Lorem ipsum set dolor amet.
			.article-loop
				h2 SOME TITLE  9
				p
					| Lorem ipsum set dolor amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus et qui id atque.
			.article-loop
				h2 SOME TITLE  10
				p Lorem ipsum set dolor amet.
			.article-loop
				h2 SOME TITLE  11
				p Lorem ipsum set dolor amet.
			.article-loop
				h2 SOME TITLE  12
				p Lorem ipsum set dolor amet.
			.article-loop
				h2 SOME TITLE  13
				p Lorem ipsum set dolor amet.
			.article-loop
				h2 SOME TITLE  14
				p Lorem ipsum set dolor amet.
			.article-loop
				h2 SOME TITLE  15
				p Lorem ipsum set dolor amet.
