include template/main-page/first
include template/main-page/second
include template/main-page/third
include template/main-page/four
include template/main-page/five
include template/main-page/six
include template/main-page/contact
include template/main-page/main-form
include template/footer
include template/header


doctype html
html(lang="ru")
	head
		title= 'Restaurant'
		//- meta
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		//- libs
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(href='css/plugins/owl.carousel.min.css', rel='stylesheet')
		link(href='css/plugins/owl.theme.default.min.css', rel='stylesheet')
		//- custom css
		link(href='css/main.css', rel='stylesheet')
		// FAVICON
		link(rel=" icon" type="image/x-icon" href="favicon.ico")
		//FAVICON:END
	body
		+header()
		+first ()
		+mainform()
		+second ()
		+third ()
		+four ()
		+five ()
		+six ()
		+contact ()
		+footer ()

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/plugins/owl.carousel.min.js")
		script(src="js/main.js")

