@import "partials/reset";
@import "partials/fonts";
@import "partials/default";

/*====================MAIN PAGE===============*/
@import "partials/main-page/intro";
@import "partials/main-page/first";
@import "partials/main-page/second";
@import "partials/main-page/third";
@import "partials/main-page/four";
@import "partials/main-page/five";
@import "partials/main-page/six";
@import "partials/main-page/contact";
@import "partials/footer";
@import "partials/header";



