mixin footer
	footer.section-footer
		div.container.container--footer
			.copyright
				p &copy 2013 - Organisation
			.social
				a.support(href='#') Contact Us
				a.face(href='#') f
				a.tweet(href='#') t
				a.linked(href='#') in