
-var nav = [{url: '#search', name: 'SEARCH TOUR'}, {url: '#popular', name: 'POPULAR TOURS'},{url: '#contact', name: 'CONTACTS'},{url: 'gallery.html', name: 'GALLERY'} ];
mixin navItem(url, name)
	li.nav-list__item
		a.nav-list__item__link(href=url)= name

mixin header()
	header.header
		div.mobile-navigation
			div.mobile-navigation__inner
				span.close-button.close-popup-menu
					.in
						.close-button-block
						.close-button-block
					.out
						.close-button-block
						.close-button-block
				ul.nav-list.nav-list--mobile
					each i in nav
						+navItem(i.url, i.name, i.url )
				block content

		div.container.container--header
			nav.navigation
				div.hamburger
					div.top-bun
					div.meat
					div.bottom-bun
				a.logo(href='/')
					div.logo-box
						img.logo-box__image(src='img/logo.png')
						span.logo-box__text YOUR
							br
							|SURFING
							br
							|TOUR
				ul.nav-list.nav-list--dectop
					each i in nav
						+navItem(i.url, i.name, i.url )
				block content

				div.contain-form(style="padding: 0")
					form.search-form(role="search-form")
						div.search-block-input
							input#txt-search.search-block__input(type="search" placeholder="Type your search character")
					div#filter-records.filter-record
