
-var nav = [{url: '#', name: 'STORIES'}, {url: '#', name: 'EVENTS'},{url: '#', name: 'PLACES'},{url: '#', name: 'BOARD'} ];
mixin navItem(url, name, current)

	li.nav__list__item(class={active: current})
		a.nav-list__item__link(href=url)= name

mixin header()
	header.header
		nav.navigation
			ul.nav-list
				each i in nav
					+navItem(i.url, i.name, i.url )
			block content
