.navigation.navigation--footer{
	@include flex-mixin(center, center, column);
	margin-top: 50px;
	margin-bottom: 50px;
	.logo-box{
		text-align: center;
	}
}
.copyright{
	font-family: $lsb;
	font-size: 9px;
	color: $blue;
	margin-top: 10px;
	text-align: center;
	line-height: 1.7;
	letter-spacing: 1.4px;
	/*margin-left: -38px;*/
}